---
layout: default
title: Jonathan Woo
---
<div id="container">
    <p>
        Welcome to the personal website of Jonathan Woo! 
        Here you can find my personal notes, research (projects, papers, and presentations),
        student and teaching resources, and links to my professional social media accounts.
    </p>
    <p>
        If you are looking for my CV or email, please see the bottom of any page. I ask that you limit your emails to 
        math inquiries (if possible) and allow me at least a couple of days to respond to your email.
    </p>
</div>
<hr>
<div id="container">
    
    <h3>Announcements and News</h3>
    {% assign announcements = site.static_files | where: "announcement", true%}
    {% assign pinned_announcements = announcements | where: "pinned", true%}
    {% assign unpinned_announcements = announcements | where: "pinned", false |sort: "modified_time" | reverse%}
    {% if pinned_announcements.size >0%}
    <ul>
        {%for announcement in pinned_announcements%}
            <li>{%include_relative {{announcement.path}}%}</li>
        {%endfor%}        
    </ul>
    {%endif%}
    {% if unpinned_announcements.size >0%}
    <hr>
    <ul>
        {%for announcement in unpinned_announcements%}
            <li >({{announcement.modified_time |date_to_string}}) {%include_relative {{announcement.path}}%}</li>
        {%endfor%}        
        
    </ul>
    {%endif%}
</div>
<hr>
<div id="container">    
    <h3>About Me</h3>
    <p>
        I am a Ph.D. student at UCLA studying applied mathematics. 
        My academic interests generally include differential equations and numerical analysis
        with applications to science and engineering.
        I am also very passionate about teaching and tutoring students in science and math (see the <a href="/teaching.html">Teaching page</a> to learn more).
    </p>
    <p>
        Outside of the classroom, you can usually find me playing basketball and tennis, reading, or occasionally on the video game.
    </p>
</div>

