---
layout: default
---
<div id="container">
    <p>
        On this page, you can find some of my notes.
    </p>

    <!--<p>
        Many of my notes contain solutions to exercises from various sources. If you are a student, please do not just
        copy my solutions; it will do you no good to cheat yourself of proper learning. 
        If you are an instructor and would like me to remove my notes for these reasons, please contact me.
    </p> 
    -->
</div>

<!-- <hr> -->
 <div id="container">
    <h3>Mathematics</h3>
    <ul>
        {%for subject in site.categories.mathematics %}
            <li><a href="{{subject.url}}" target="_blank">{{subject.title}}</a></li>
        {% endfor%}
    </ul>
    
 </div>
 <div id="container">
    <h3>Engineering</h3>
    <ul>
        {%for subject in site.categories.engineering %}
            <li><a href="{{subject.url}}" target="_blank">{{subject.title}}</a></li>
        {% endfor%}
    </ul>
    
 </div>
 <div id="container">
    <h3>Computer Science</h3>
    <ul>
        {%for subject in site.categories.computer-science %}
            <li><a href="{{subject.url}}" target="_blank">{{subject.title}}</a></li>
        {% endfor%}
    </ul>
    
 </div>


<!-- <div id="container">
    
        <h3>{{item.name}}</h3>
        <ul>
            {%for subject in item.subjects%}
                <li><a href="{{subject.link}}" target="_blank">{{subject.name}}</a></li>
            {%endfor%}
        </ul>
</div> -->
